* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.individual-chat-section {
    height: 100vh;
    width: 300px;
    background-color: #5964a2;
}

.create-chat-section {
    margin: 10px 0;
}

.chat-item {
    padding: 10px;
    margin: 2px 0;
    font-size: 18px;
    background-color: #424769;
    cursor: pointer;
    border-radius: 2px;
}

.selected {
    background-color: #2D3250;
}

.messages-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #7077A1;
}

.display-chat-section {
    flex: 1;
}

.send-message-section {
    height: 60px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

#send-message-input {
    width: 60%;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px; 
}
  
#send-message-button {
    font-size: 16px;
    padding: 10px 15px; 
}