* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(188, 214, 233, 0.744);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.individual-chat-section {
    height: 100vh;
    width: 25%;
    padding: 0 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: #5964a2; */
}

.create-chat-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

#create-chat-input {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

#create-chat-button {
    background: #2e9a66;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.display-chats {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    overflow-y: auto;
}

.logout-section {
    height: 80px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.logout-section a {
    margin-right: auto;
}

#logout-button {
    background: #ff432e;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.chat-item {
    padding: 10px;
    margin: 2px 0;
    font-size: 18px;
    background-color: #92bdee;
    cursor: pointer;
    border-radius: 2px;
}

.selected {
    background-color: #4a90e2;
}

.messages-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.display-chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 4px;
    overflow-y: auto;
}

.receiver-info-header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.receiver-name {
    font-size: 20px;
}

.display-messages {
    flex: 1;
    overflow-y: auto;
}

.message-box {
    background-color: #add0f8;
    max-width: 300px;
    margin: 10px 0;
    padding: 4px 10px;
    border-radius: 4px;
}

.message-box span {
    color: rgb(94, 94, 94);
    font-size: 14px;
}  

.message-box p {
    color: rgb(39, 39, 39);
    font-size: 18px;
    margin-top: 4px;
}

.send-message-section {
    height: 80px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

#send-message-input {
    width: 60%;
    max-width: 500px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin-right: 10px; 
    transition: border-color 0.3s;
}

#send-message-input:focus {
    border-color: transparent;
}
  
#send-message-button {
    background: #4a90e2;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}